<div class="top-header"></div>

<a href="login.html" class="login-btn-top">Войти</a>

<div class="bottom-nav">
    <a href="index.html" class="nav-item" data-page="home">
        <img src="assets/icons/home.svg" class="nav-icon">
        <span>Главная</span>
    </a>

    <a href="accounts.html" class="nav-item" data-page="accounts">
        <img src="assets/icons/wallet.svg" class="nav-icon">
        <span>Счета</span>
    </a>

    <a href="categories.html" class="nav-item" data-page="categories">
        <img src="assets/icons/categories.svg" class="nav-icon">
        <span>Категории и цели</span>
    </a>

    <a href="analytics.html" class="nav-item" data-page="analytics">
        <img src="assets/icons/analytics.svg" class="nav-icon">
        <span>Аналитика</span>
    </a>

    <a href="transactions.html" class="nav-item" data-page="transactions">
        <img src="assets/icons/list.svg" class="nav-icon">
        <span>Транзакции</span>
    </a>
</div>
